/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgba(98, 98, 98, 0.966);
    max-width: 1000px;
    margin: auto;
} 
/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 3px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 800px; 
  margin: 0 auto 0 auto !important; 
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  
}

.grid_items > div {
  background-color: #212121;
  
  border-top-color: #9E9E9E;
  border-bottom-color: #616161;
  
  border-top-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  
  padding: 3px;
  border-radius: 0px;
  width: 340px;
  height: 340px;
  margin:auto;
}

.grid_items > div:nth-child(3n + 2) {
  background-color: #212121;
   padding: 3px;
   border-radius: 0px;
   width: 340px;
   height: 340px;
   margin:auto;
  }
  .grid_items > div:nth-child(3n) {
    background-color: #212121;
   padding: 3px;
   border-radius: 0px;
   width: 340px;
   height: 340px;
   margin:auto;
  }

/* Code for the navigation bar found on W3Schools */

.navbar {
  overflow: hidden;
  background-color: #B7B6B6;
  width: 1000px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  width: 333.3333px;
}

.navbar a:hover {
  background-color: rgb(255, 251, 251);
  color: #6806c3;
}

.navbar a.active {
  background-color: #9F9F9F;
  color: white;
}

 

/* Code for the navigation bar found on W3Schools */

.navbar {
  overflow: hidden;
  background-color: #B7B6B6;
  width: 1000px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  width: 333.3333px;
}
  

/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h5{
    color:rgb(191, 191, 191);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 900px;
    background-color: rgb(203, 203, 203);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(198, 198, 198);
    height: auto;
    width: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    
}

.chart2{
    background-color: rgb(198, 198, 198);
    height: auto;
    width:auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    
}

.chart5{
    background-color: rgb(198, 198, 198);
    height: auto;
    width:auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0.5cm;
    display: inline-block; 

}


    